<% layout('layout/page') -%>
<% block('title', 'Propoganda') -%>
<h1>Добропожаловать в магазин Propaganda, <% if (!user){%>
    гость
    <%} else {%>
    <%=user.get('username')%>
    <%}%>
</h1>
<p class="lead">Главная</p>
