<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/contacts">Контакты</a></li>
        <li><a href="/productlist">Продукты</a></li>
        <% if (user) { %>
        <li><a href="/cart">Корзина</a></li>
        <li><a href="/chat">Чат</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
        <li><a href="/profile">Привет, <%=user.get('username')%></a></li>
        <%%>
        <li><a href="" onclick="$('<form method=POST action=/signout>').appendTo('body').submit();return false">Выход</a></form></li>
        <% } else { %>
        <li><a href="/signup">Регистрация</a></li>
        <li><a href="/signin">Вход</a></li>
        <% } %>
    </ul>
</nav>

<div id="CategoryMenu" style="text-align: center">
<% category.forEach(function(item){ %>
   <b style="font-size: large; font-style: normal">
       <a href="/productlist?id=<%=item._id%>"><%= item.categoryName%></a>
   </b>
<% });%>
</div>





